{% extends "Notes/page_structure.html" %}

{% block heading %} 
<a href={% url 'Notes:index' %} class="go-back">&#60 Cancel</a>Delete Confirmation!
{% endblock %}

{% block date %} 
    {% now "M H, Y" %}
{% endblock %}  

{% block mynotes %}
    <form method="POST">
        {% csrf_token %}
        <p class="delete-confirmation">Are you sure you want to delete </br><strong> "{{ object }}"</strong>?</p>
        <input type="submit" value="Yes, Delete" class="confirm">
    </form>

{% endblock mynotes %}